*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body {	
    background-image:url(sigilo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;    
}

.form{
    background:rgba(128, 128, 128, 0.808);
    width: 50%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid rgb(0, 183, 255);
    border-radius: 10px;
    margin-top: 50px;    
}

h1 {
    background:rgb(0, 217, 255);
}

input,select{
    border-radius: 10px;
    height: 30px;
    border: none;
}

input[type="button"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 180px;
    height: 35px;
}

input[type="button"]:hover{
    background: blue;
    color: white;
}






